{% extends 'userview/base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center mt-5"><u>Account verification</u></h2>
<div class="container p-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center">
                <div class="card text-center p-5">
                    <form id="verificationForm" action="" method="POST">
                        {% csrf_token %}
                        <div class="card-header mb-4">
                            <p>Please enter your mail</p>
                        </div>
                        <div class="card-body">
                            <input class="mt-5 form-control" type="password" id="password" name="password" placeholder="Password">
                            <input class="mt-5 form-control" type="password" id="cpassword" name="cpassword" placeholder="Confirm Password">
                            <input type="hidden" name="user_id" value="{{user_id}}">
                            <div id="error-message" class="text-danger mt-3"></div>
                            <button class="btn btn-warning mt-3" type="submit">Submit</button>
                        </div>
                        <div>
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'info' %}
                                        <div class="info-message">{{ message }}</div>
                                    {% else %}
                                        <div>{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById('verificationForm').addEventListener('submit', function(event) {
    let password = document.getElementById('password').value;
    let cpassword = document.getElementById('cpassword').value;
    let errorMessage = '';
    const errorDiv = document.getElementById('error-message');

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/;

    if (password === '' || cpassword === '') {
        errorMessage = 'Password fields cannot be empty.';
    } else if (password !== cpassword) {
        errorMessage = 'Passwords do not match.';
    } else if (!passwordRegex.test(password)) {
        errorMessage = 'Password must be at least 8 characters long, contain one lowercase letter, one uppercase letter, and one special character.';
    }

    if (errorMessage) {
        errorDiv.textContent = errorMessage;
        event.preventDefault();
    }
});
</script>


{% endblock %}